# Git History
.git

# git ignore files and folder

# generated site contents
_site/

# sass cache
.sass-cache/*

# ide contents
.idea/
.DS_Store

# Cache
.jekyll-cache/

# Environment variables
.env

# Terraform state
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
*.tfvars

# Terraform crash logs
crash.log

# Local Terraform overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Editor & OS files
*.swp
*.swo
.DS_Store
.idea/
.vscode/
*.bak

# Kamal-related files (if you have logs or tmp folders)
kamal/tmp/
kamal/log/

# Docker artifacts
**/tmp/*
**/log/*
**/.env
docker-compose.override.yml
.env

# Node, Ruby, or other dev artifacts (optional if used)
node_modules/
.bundle/
log/
tmp/
